.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    .rowBetween{
        display: flex;
        align-items: center;
        justify-content: center;
        .left{
            .row{
                display: flex;
                // align-items: center;
                .img{
                    width: 36;
                    height: 30;
                }
                .text{
                    font-style: italic;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 32px;
                    color: #3A4D8E;
                    margin-top: 20px;
                    width: 391px;
                }
            }
            .contentImg{
                display: flex;
                justify-content: flex-end;
            }
        }
        .right{
            .title{
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                text-align: center;
                color: #FFFFFF;
            }
            .text{
                font-weight: 500;
                font-size: 14px;
                line-height: 26px;
                text-align: center;
                color: #D6D6D6;
                width: 520px;
            }
        }
    }
}