.container{
    padding:40px 200px 85px 200px;
    background-color: #0C0C17;
    .rowBetween{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .left{
            .img{
                width: 160px;
                height: 43px;
            }
            .text{
                font-weight: 400;
                font-size: 12px;
                line-height: 24px;
                color: #888888;
            }
        }
        .right{
            .customText{
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                text-align: center;
                color: #FFFFFF;
                margin-bottom: 16;
            }
        }
    }
}